<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<h2>This is another heading. It is shit. Anyway, click below and get yer crap done.</h2>
<ul>
	<li><a href="/contacts">View all contacts</a></li>
		<li><a href="/contacts/new">Add new contact</a></li>
			<li><a href="/contacts">Edit a contact</a></li>

</ul>