<h1>Welcome to <%= @crm_app_name %></h1>
<h2>This is another heading. It is poopy crappy. Hahahahaha.</h2>
<p>Main menu</p>
<div id="menu">
<ul>
	<li><a href="/contacts##">View all contacts</a></li>
		<li><a href="/contacts/new##">Add new contact</a></li>
			<li><a href="/contacts##">Edit a contact</a></li>

</ul>
</div>

