<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<header>
<img src="/logo-bitmaker-fb.png" alt="bitmakerlogo"/>
			</header>
		<div class="container">
			<%= yield %>
		</div>
		<footer>
  	<p>Designed by: pat szkarlat</p>
  	<p>Contact information: <a href="mailto:punkgeek@mac.com">
  	punkgeek@mac.com</a>.</p>
		</footer>
	</body>

</html>