<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>

	<body>
		<header>
<img src="/logo-bitmaker-fb.png" alt="bitmakerlogo"/>
			</header>
		<%= yield %>
	</body>
</html>